InputPrompt {
    .inputPromptContainer {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        height: 100%;
    }

    .InputPrompt {
        margin: 2.5px;
        padding: 5px;
        padding-right: 10px;
        background-color: #0000007c;
        border-radius: 10px;
    }

    .InputGlyph {
        margin-right: 5px;
    }

    .InputPromptName {
        font-size: 25px;
        font-family: Poppins;
        color: #fff;
    }

    .InputPromptName {
        font-size: 25px;
        font-family: Poppins;
        color: #fff;
    }

    .InputPromptName {
        font-size: 25px;
        font-family: Poppins;
        color: #fff;
    }

    .Disabled {
        color: grey;
        background-image-tint: grey;
    }
}
